body{
  background-color: #f8edeb;
}
  .ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fbf8cc;
    position: sticky;
    top: 0;
    width: 100%;
  }
  
  li{
    float: right;
  }
  
  li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover{
    background-color: #fde4cf;
  }
  .active{
    background-color: lightcoral;
  }
  .active:hover{
    background-color: lightcoral;
  }

  